body {
    background-color: #F5F5F5;
}

.active {
    color: #000000;
}

.notActive {
    color: #808080;
}

.container {
    text-align: center;
    font-family: 'Verdana', 'Geneva', sans-serif;
}

.input-form {
    display: table;
    margin: 50px auto;
    padding: 10px 0;
    width: 450px;
    border: 2px solid #1E90FF;
    border-radius: 5px;
    background-color: #FFFFFF;

}

input[type=text], input[type=email], input[type=number], textarea {
    font-size: 1em;
    border: 2px solid #1E90FF;
    margin: 5px 0;
    padding: 3px 3px;
    border-radius: 3px;
    width: 70%;
    background-color: #FFFFFF;
    font-family: 'Verdana', 'Geneva', sans-serif;
}

textarea {
    resize: vertical;
}

input[type=submit], input[type=button] {
    border: 2px solid #1E90FF;
    border-radius: 3px;
    color: white;
    font-size: 1.1em;
    background-color: #2DA3FF;
    padding: 15px 35px;
    text-decoration: none;
    margin: 10px 0 20px 0;
    cursor: pointer;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: #5DA6FF;
}

h2 {
    color: #2DA3FF;
}
