/*  Antic Slab font */
@import url('http://fonts.googleapis.com/css?family=Antic+Slab');
/*  Lucia grande font */
@import url('http://fonts.googleapis.com/css?family=Pontano+Sans');


body {
    background-color: white;
    margin: 0;
    width: 100%;
}

#header-container {
    width: 100%;
    clear: both;
}

/* Top navigation bar */
#header-navbar-top {
    float: right;
    margin: 0;
    font-size: 11px;
    font-family: 'Lucida Grande', sans-serif;
}


#header-navbar-top ul  {
    padding-left: 10px;
}

#header-navbar-top ul li {
    display: inline;
    padding-left: 20px;
}

#navbar-top-dropdown {
    margin-right: 10px;
}
/* Currency dropdown triangle */
#navbar-top-dropdown::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 5px;
    margin-left: 2px;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-color: #ccc transparent transparent transparent;
}

/* Logo */
#header-navbar-logo {
    float: left;
    margin-top: 20px;
}

/* Bottom navigation bar */
#header-navbar-bottom {
    text-transform: uppercase;
    float: right;
    display: block;
    margin-top: 20px;
    padding: 10px 10px 30px;
    font-family: 'Antic Slab', serif;
}

#header-navbar-bottom ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    word-spacing: 65px;
}

#header-navbar-bottom li {
    display: inline-block;
}


/* Active button */
#header-navbar-active a {
    text-decoration: none;
    color: #FFFFFF;
}

#header-navbar-active {
    float: right;
    display: inline;
    text-align: center;
    width: 60px;
    position: relative;
    background-color: #9FBFC0;
    font-size: 11px;
    font-family: 'Antic Slab', serif;
    overflow: hidden;
    padding: 10px 10px 20px 10px;
}

/* Live chat triangle */
#header-navbar-active .cut{
    width: 100%;
    height: 0;
    margin-left: -10px;
    position: absolute;
    bottom: 15px;
}
#header-navbar-active .cut::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    left: 0;
    border-width: 0 40px 15px 40px;
    border-color: transparent transparent white transparent;
}

/* Categories section */
.section-categories {
    background-color: #F1F1F1;
    margin:0 -40px 0 0;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    font-family: 'Antic Slab', serif;
    font-weight: lighter;
}

.section-categories li a {
    text-transform: uppercase;
    color: black;
    margin-right: 75px;
    list-style-type: none;
    text-decoration: none;
}

.section-categories ul li {
    display: inline;
}


/* Content */

.content-table-row {
    width: 100%;
    display: table;
    margin-top: 5px;
    margin-bottom: 20px;
    border-collapse: separate;
    border-spacing: 20px 0;
}

#content-article {
    display: table-cell;
    background-color: #F1F1F1;
    vertical-align: top;
    position: relative;
}

.shadowbox {
    content: "";
    position:absolute;
    width: 100%;
    height: 15px;
    bottom: 0;
    box-shadow:         0 0 30px -3px #b3b3b3;
    -webkit-box-shadow: 0 0 20px -3px #b3b3b3;
    -moz-box-shadow:    0 0 20px -5px #b3b3b3;
    z-index: -1;
    behavior: url(/pie/PIE.htc); /* for ie */

}

.content-image-holder .shadowbox {
    padding-right: 20px;
}

.content-image {
    border-bottom: 25px solid white;
    margin-right: -20px;
}

.content-image-holder {
    background-color: white;
    display: table-cell;
    padding-bottom: 0;
    position: relative;
    z-index: 1;

}

ul {
    list-style-type: none;
}

.text {
    margin: 20px;
    text-indent: 0;
    color: #9B9B9B;
    padding: 0 5px;
    font-size: 1em;
}

.title {
    text-transform: uppercase;
    color: white;
    font-family: 'Antic Slab', "Times New Romans",sans-serif;
    font-weight: lighter;
    font-size: 2em;
    background-color: #9FBFC0;
    padding: 5px 0 5px 50px;
    margin-right: 60px;
    margin-left: -20px;
    margin-top: 30px;
    position: relative;
}

/* Article title triangle */
.title::before {
    content: '';
    position: absolute;
    width: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent #79989A transparent;
    bottom: 100%;
    margin-left: -50px;

}

#header-container li a {
    position: relative;
    text-decoration: none;
    color: #9B9B9B;

}
.wrapper {
    width: 1024px !important;
    margin: auto;
    overflow: hidden;
}